@media screen and (max-width: 1600px) {

  .hel-container img {
    max-height: 45rem;
   }


  .hel p{
    margin-right: 10px;
    max-width: 100%;
  }
  .users-container {
 
    max-width: 1000px;
  }
  
  .section__pic-container {
    width: 25%;
    margin-top:6%
  }

  .ip6,
  .ip8 {
    border-radius: .7rem;
    position: absolute;
    right: 5%;
    width: 7rem;
    transition: .5s;
    }

p {
  font-size: 1rem;
}

.nav-links {
  font-size: 1rem;
}

.logo,
.logo:hover {
  font-size: 2.5rem;
}

.title1 {
  font-size: 2.5rem;
}

.section__text__p2 {
font-size: 1rem;
}

.btn-color-1,
.btn-color-2{
  width: 10rem;
  font-size: small;
}

  #socials-container p {
    font-size: 1rem;
    
  }

  .icon {
    height: 1.3rem;
    margin-left: 2rem;
    margin-right: 3.2rem;
  }

  .email-icon {
    height: 1.3rem;
    margin: 0rem;
  }

  .contact-icon3 {
    width: 15rem;
    height: auto;
    margin-left: 2rem;
    margin-right: 0px;
  }

  .nav-links-container {
    display: flex;
  }
  .contact-info-container {
    margin-top: 4rem;
  }
  .mail {
    font-size: 2rem;
  }

  .about-containers2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .details-container2 p {
    font-size: .8rem;
  }

  .icon.arrow {
    display: none;
  }

  .info {
    margin-top: 2rem;
  }
  
  .icon-arrow1 {
    height: auto;
    width: 3rem;
  }
  article {
    margin-left: 0px;
    width: 10rem;
    justify-content: center;

  }

  .section__text__p1 {
    margin-top: 0.5rem;
  }
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }


  #experience {
    margin-top: 10%;
  } 


  .profilepic {
    scale: 0.8;
  }

  .about-containers {
    gap: 1rem;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
  
  }

  .about-details-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: max(0px, calc(60% - 350px));
    
  }

  #contact,
  #projects {
    height: fit-content;
  }
  .section-container {
    display: block;
  }

  #projects {
    padding-top: 2rem;
    padding-bottom: 9rem;
  }
  
  .contact-info-upper-container {
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    

  }

  .objective {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    height: 17rem;
    border: 2px solid #5F2C82;
    border-radius: 100%;
    padding: 1rem;
    text-align: center;

  }

  .objective h3 {
    font-size: 1.3em;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.objective h2 {
    font-size: .8rem;
    max-width: fit-content;
    margin: 0px 2px;
}

.objective p{
margin-top: 0px;
font-size: .7rem;
max-width: fit-content;

}

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }

  .skill {
    width: 183px;
  }


  .article-container h2,
  .article-container2 h2 {
    font-size: medium;
  }


}
.notification {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  background: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s forwards;
  font-size: 12px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@media screen and (max-width: 1100px) {
  .gro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gro2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gro img{
    max-width: 100%;
  }


  .inf {
    max-width: 100%
  }

  .hel-container {
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
  }


  .object {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .objective {
    height: auto;
    padding-top: 3rem
  }

.objectives {
  width: 100%;
}

  .testing {
    flex-wrap: wrap;
    margin-left: 0px;
  }

  .teamw,
  .teamw p {
    gap:1rem;
    max-width: 100%;
  }

  .testing p {
    margin-left: 0px;
    margin-top: 2rem;
  }
  
  .flow
  {
    width:15rem;
  }

  .flowt {
    scale: 0.8;
  }

  .design-text1 {
    scale:0.7;
    left: 45%;
  }
  
  .about-containers {
    flex-wrap: wrap;
    display: table-column;
  }

  .details-container {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 900px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    color: #33333300;
  }

  .a2 {
    display:flex;
  }

  .profilepic {
    width: 10rem;
    height: 11rem;
  }

  .icon {
    margin-left: 0px;
    margin-right: 0px;
  }

  #socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .problem {
    flex-wrap: wrap;
  }


  .objective {
    height:13rem;
    padding-top: 5rem;
  }

  
  .licon {
    margin-left: 1.5rem;
    width: 6rem;
    height: auto;
  }
  .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  


  .menu-links.open {
    background: linear-gradient(to right, #5F2C82, #602c8236); 
    border-radius: 1rem;
  
  } 
  
.menu-links.open a {
  color: white;

}

  #experience {
    margin: 10px;
  }
  .experience-details-container {
    margin: 8px;
    padding: 0px;
    
  }
  #profile,
  .section-container {
    display: block;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 30%;
    margin-left: 45%;
    max-width: 10%;
  }
  .about-containers {
    margin-top: 0;
  }

  .icon-arrow1 {
    right: 1rem;
    bottom: 2rem;
  }

  .icon-arrow3 {
    right: 10rem;
  }
  .title1 {
    font-size: 2.5rem;
    margin: 10px;
    text-align: center;
  }

     .objective p {
        margin: 0px;
        font-size: 1rem;
        padding: 3rem;}

  .problem p.text{
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

.goals-container,
.users-container,
.testing,
.practices {
  margin-left: 0px;
  margin-right: 0px;
  justify-content: center;

}

.ftext {
  align-items: center;
}

.practices {
  flex-direction: column;
  padding: 0px;
}

.practice,
.testing p {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-right:0px;
}

  .text {
    margin-right: 0px;
  }

  .lessons2 {
    flex-direction: column;
    margin-right: 0px;
  }
  .lessons {
    flex-direction: column;
  }

  .lessons p,
  .lessons2 p {
    max-width: 100%;
    gap: 2rem;
  }
  .ip6 {
    margin-top: 50%;
    margin-right: 5%;
  }
  .ip7,
  .ip8 {
    right: 5%;
    margin-right: 5%;
  }
  p {
    margin: 0px;
    font-size: 1rem;
  }

  .btn {
    width: 8rem;
    font-size: 1rem;
    margin-left: 15px;
  }

  .title {
    font-size: 2.5rem;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 2rem;
  }

  .title2 {
    font-size: 2.5rem;
  }

  h1 {
    margin-left: 10px;
  }

  .text-container {
    font-size: 0.8rem;
    margin: 10px;
    text-align: left;
  }

  .contact-icon3{
   width:100px;
   margin-top: 8px;
  }

  .mail {
    font-size: 1rem;
    color: #5F2C82;
  }
 #contact {
  margin-top: 50px;
 }

 .section__text__p1{
  margin-bottom: 0px;
  text-align: left;
  margin-top: 3rem;
  font-size: 1rem;
 }


  .about-containers {
    padding: 0px;
    margin: 0px;
    gap: 1rem

  }

  .details-container {
    margin: 1rem;
    margin-bottom: 2rem;
      padding: 0.6rem;
    
  }

  .details-container h2 {
    font-size: 1rem;
  }

  .article-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 0rem;
  }

  .article-container2 {
    max-width: auto;
    padding: 0px;
  }

  article {
    font-size: 1rem;
    width: auto;
    margin: 0px;
    padding: 1px;
    width: 135px;
  }

  .article2 {
    width: 110px;

  }

  .article-container h2 {
    font-size: 1rem;
    align-items: right;

  }

  .icon-arrow1,
  .icon.arrow {
    display: none;
  }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-top: -6.3%;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

.btn-container {
  justify-content: center;
}
  .btn-container p {
    display: none;
  }

  .contact-info-container {
    margin: 0;
  }

 
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
    margin:1rem;
  }
  .logo {
    font-size: 1.5rem;}

  .logo:hover{ 
    font-size: 3rem; /* Set the same font size as the default */
    font-weight: 600; /* Set the same font weight as the default */
    background: transparent; /* Remove the background */
    -webkit-background-clip: text; /* Reset background-clip */
    background-clip: text; /* Reset background-clip */
    color: #5F2C82; /* Set the text color to the desired color */
  
  }
  
  
  .nav-links {
    flex-direction: row;
    gap: 2rem;
    text-align: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
    text-align: center;
  }
 

#projects {
  padding: 1rem;
}

#contact {
  margin-top: 10px;
  padding-bottom: 10rem;
}






footer p {
  font-size: 0.5rem;
}

footer {
  max-height: 60px;
}
}