@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}




section {
    margin-left: 10%;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(0, 0, 0);
    cursor: default;
  }
  
  html {
    scroll-behavior: smooth;
  }

  .title {
    font-size: 4rem;
    text-align: left;
    color: #49A09D;
    margin-left: -10px;
    position: relative;
    padding-bottom: 3rem;
    padding-top: 5rem;
  }
  
  p {
    color: rgb(255, 255, 255);
      font-size: 1rem;
  }

  .text {
    margin-right: 30%;
  }
  
  b     {
      color: #49A09D;
  }	

  .not {
    color:#5F2C82
  }
  h3 {
      color:white;
      font-size: 1.8rem;
      padding-bottom: 1rem;
      color: #5F2C82;
  }
  h2 {
      color:white;
      font-size: 1.2rem;
      padding-bottom: 1rem;
  }

  /* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
  align-items: baseline;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background: linear-gradient(to right, #49a09d, #602c82a6);
  }

.nav2 {
    background: black;
    align-items: end;
}



.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  flex-direction: row;
}

a,
.a2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-decoration-color: white;
}

.a1:hover,
.a2:hover {
    color: rgb(82, 82, 82);
    text-decoration: underline;
    text-decoration-color: 82,82,82;
  }


a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(0, 0, 0);
}

.logo,
.logo:hover {
    font-size: 3rem;
    font-weight: 600;
    background: linear-gradient(to right, #391f4b, #5F2C82);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

.logo:hover {
  cursor: pointer;
}
  
/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
  }
  
  .hamburger-menu {
    position: relative;
    display: inline-block;
  }
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links li {
    list-style: none;
  }
  
  .menu-links.open {
    max-height: 300px;
  }
  
  .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  
  .hamburger-icon span:first-child {
    opacity: 1;
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }

/* /Containers */

.goals-container {
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    padding-bottom: 2rem;
    max-width: 1200px;
    margin-left: 3%;
    gap: 4rem;
}


.goal-container {
    color: #5F2C82;
    width: 16.5em;
    height: 13rem;
    display: flex;
    margin: 1rem 0rem;
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 100%;
    border: 2px solid #5F2C82;
    flex-direction: column;
    text-align: center;
  }


  
.goal-container h2 {
    color: #5F2C82;
    font-weight: 700;
}

.goal-container p{
    font-size: 1rem;
}



.users-container {
    display: flex;
    margin-right: 5%;
    flex-flow: wrap;
    justify-content: space-evenly;
    gap: 1rem;

}

.user-container p,
.user-container text{
    margin: 0px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    padding: 0px;
    text-align: left;
}

  .user-container {
    width: 15rem;
    height: auto;
    display: flex;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    border: 2px solid #5F2C82;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
  }

  .problem {
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5%;
    margin-right: 10%;
    max-width: 1200px;

  }

  .problem p.text {
    margin-left: 3%;
    margin-right: 2%;
    text-align:left;
    
  }

  .ip6{
    border-radius: .7rem;
    position: absolute;
    right: 5%;
    width: 7rem;
    transition: .5s;
  }
.ip8 {
    border-radius: .7rem;
    position: absolute;
    right: 5%;
    width: 7rem;
    transition: .5s;
    margin-top: 10%;
}

.title2 {
    font-size: 6rem;
    text-align: left;
    color: #49A09D;
    margin-left: -10px;
    position: relative;
    max-width: 50%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    
  }

.ip7 {
    border-radius: .7rem;
    position: absolute;
    right: 25%;
    width: 7rem;
    transition: .5s;
}

  .ip6:hover,
  .ip7:hover,
  .ip8:hover {
    cursor: default;
    scale: 1.5;
  }

  .design-text1 {
    font-size: 1rem;
    display: flex;
    position:absolute;
    left: 63%;
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
    border: 2px solid #5F2C82;
    align-items: center;
    text-align: center;
    padding: 1rem;
    padding-bottom: 0px;
    margin-top: -3%;
  }

  .design-text {
    margin-right: 50%;
  }

  .flowei{
    display: flex;
  }

  .flowt {
    max-width: 20rem;
    transition: .5s;
    
  }

  .flowt:hover {
    cursor: default;
    scale: 1;
  }

  .flow {
    max-width: 40rem;
    border-radius: 1rem;
  }

  .proto-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    max-width: 1400px;
  }

  .protos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;

  }

  .protos-container h2 {
max-width: 25rem;
text-align: center;
  }


  .proto {
    border-radius: 1rem;
    transition: .3s;
    width:7rem;
  }

  .proto:hover {
    cursor: default;
    scale: 1.3;
  } 



  .testing {
    display: flex;
    flex-direction: row;
    padding-bottom: 15rem;
  }

  .testing p {
    max-width: 731px;
    font-size: 1rem;
    margin-right: 10%;
  }

  .flowt {
    border: 2px solid #5F2C82;
    border-radius: 1rem;
    padding: 1rem;
    background-color: black;
  }
  .ftext {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  .flow {
    width: 30rem;
    transition: .5s;
    border: 2px solid #5F2C82;
    border-radius: 1rem;
    padding: 1rem;
  }

  .flow:hover {
    cursor: default;
    scale: 1;
    background-color: black;
  }

  .object {
    display: flex;
    justify-content: space-evenly;
  }

  .objectives {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    padding-bottom: 3rem;
    width:30%;
    justify-content: center;
  }
  
  .objectives h2 {
    text-align: center;
  }
  .objective {
    display: flex;

    flex-direction: column;
    max-width: 20rem;
    height: 17rem;
    border: 2px solid #5F2C82;
    border-radius: 100%;
    padding: 3rem;
    text-align: center;
    justify-content: fe;
   

  }

    .objective p {
        margin: 0px;
        font-size: .9rem;
        padding: 3rem;
        
    }

    .practices {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-right: 10%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .practice {
        border: 2px solid #5F2C82;
        border-radius: 2rem;
        max-width: 30%;
        padding: 0.5rem;
        padding-bottom: 2rem;
    }

    .practice h3 {
        text-align: center;
    }

    .practice p {
        margin-left: 1rem;
        margin-right: 0rem;
    }

    .heading {
        max-width: 52rem;
    }

    .lessons p {
        max-width: 30%;
        margin-right: 0px;
        font-size: 1rem;
    
    }

    .lessons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
        padding-bottom: 5rem;
        margin-right: 10%;
        padding-top: 5%;
        max-width: 60rem;
    }


    .lessons2 p {
        max-width: 30%;
        margin-right: 0px;
        font-size: 1rem;
    
    }

    .lessons2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5rem;
        padding-bottom: 5rem;
        max-width: 80rem;
        padding-top: 5%;
    }

    .teamw {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 10rem;
        justify-content: flex-end;
    }
    .teamw p {
        max-width: 40%;
        margin-right: 0px;
        font-size: 1rem;
    }

    .conclusion {
        display: flex;
        flex-direction: column;
        gap: 2rem ;
    }

    .inf {
      max-width: 45rem;
    }
    .hel-container {
      display: flex;
      flex-direction: row;
      gap: 5rem;
      padding-top: 5rem;
    }

    .hel h3 {
      padding-bottom: 0rem;
    }

    .hel p{
    
      padding-bottom: 2rem;
      margin-right: 0px;
      max-width: 70%;
    }

    .gro-container {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      margin-right: 10%;
      align-items: center;
    }

    .gro2-container {
      display: flex;
      flex-direction: row-reverse;
      gap: 2rem;
      justify-content: space-between;
      margin-right: 10%;
      padding-top: 5rem;
      align-items: center;
    }

    .gro img{
      max-width: 30rem;
    }

  /* FOOTER SECTION */

footer {
    height: 10vh;
    margin: 1rem 1rem;
    display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;
      flex-direction: column;
  }
  
  footer p {
    text-align: center;
    font-size: 0.5rem;
  }

